<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
    <p style="font-weight:bold" th:text="#{email.reset.greeting(${user.firstName})}">
            Dear
        </p>
        <p style="font-weight:bold" th:text="#{email.reset.text1}">
            For your <span th:text="#{config.company.name}"></span> account ,a password reset was requested, please click the following link to proceed.
        </p>
        <p>
           <!--  <a th:with="url=(@{${user.resetKey}|})"
               th:text="${url}">Login link</a> -->
               
               <a th:with="url=(@{|${baseUrlAws}/#/forgot-password?key=${user.resetKey}|})"
                   th:href="${url}">
                    <button class="blue-btn">Reset password</button>
                </a>
        
        </p>
        
        <p style="font-weight:bold">With best Regards,<br>  <span th:text="#{config.company.name}"></span> <br><br></p>
    </body>
</html>
